<div th:fragment="content">
<script src="/js/jquery.js"></script>
<script>
/*<![CDATA[*/

  $(document).ready(function() {
        
		
		//the min chars for username
		var min_chars = 3;
		
		//result texts
		var characters_error = 'Minimum amount of chars is 3';
		var checking_html = 'Checking...';
		
		//when button is clicked
		$('#check_username_availability').click(function(){
			//run the character number check
			if($('#username').val().length < min_chars){
				//if it's bellow the minimum show characters_error text
				$('#username_availability_result').html(characters_error);
			}else{			
				//else show the cheking_text and run the function to check
				$('#username_availability_result').html(checking_html);
				check_availability();
			}
		});
		
		
  });

//function to check username availability	
function check_availability(){
		
		//get the username
		var username = $('#username').val();
		
		//use ajax to run the check
		$.post("/user/cek", { username: username },
			function(result){
				//if the result is 1
				if(result == 1){
					//show that the username is available
					$('#username_availability_result').html('<span class="is_available"><b>' +username + '</b> is Available</span>');
				}else{
					//show that the username is NOT available
					$('#username_availability_result').html('<span class="is_not_available"><b>' +username + '</b> is not Available</span>');
				}
		});

}  
/*]]>*/
</script>

	<div class="row">
		<div class="col-lg-12">
			<section class="panel">
				<header class="panel-heading">
					<h1>Edit Orangtua</h1>
				</header>
				<div class="panel-body">
					<div class="form">
						<form th:object="${user}" method="post" th:action="@{/user/orangtua/update/{id}(id=${user.userId})}"  id="form1"
							class="cmxform form-horizontal tasi-form">
							<div class="form-group ">
								<label for="panjang" class="control-label col-lg-2">Nama</label>
								<div class="col-lg-10">
									<input type="text" th:field="*{nama}" required="required"
										class="form-control" />
								</div>
							</div>
							<div class="form-group ">
								<label for="panjang" class="control-label col-lg-2">Jenis Kelamin</label>
								<div class="col-lg-10">
										<select th:field="*{jenisKelamin}" class="form-control col-md-7 col-xs-12" placeholder="Pilih Jenis Kelamin">
                                            <option th:value="Laki-Laki" th:text="Laki-Laki"></option>
                                            <option th:value="Perempuan" th:text="Perempuan"></option>
                                        </select>
								</div>
							</div>
							<div class="form-group ">
								<label for="minus3sd" class="control-label col-lg-2">RT</label>
								<div class="col-lg-10">
									<input type="text" th:field="*{rt}" required="required"
										class="form-control" />
								</div>
							</div>
							<div class="form-group ">
								<label for="minus2sd" class="control-label col-lg-2">Telepon</label>
								<div class="col-lg-10">
									<input type="text" th:field="*{telepon}" required="required"
										class="form-control" />
								</div>
							</div>
							<div class="form-group ">
								<label for="minus2sd" class="control-label col-lg-2">Foto</label>
								<div class="col-lg-10">
									<input type="text" th:field="*{foto}" required="required"
										class="form-control" />
								</div>
							</div>
							<div class="form-group ">
								<label for="minus1sd" class="control-label col-lg-2">username</label>
								<div class="col-lg-10">
									<input type="text" th:field="*{username}" required="required"
										class="form-control" id="username" /><input type="button" id="check_username_availability" value="Cek"/>
										<div id="username_availability_result"></div>
								</div>
							</div>
							<div class="form-group ">
								<label for="median" class="control-label col-lg-2">Password</label>
								<div class="col-lg-10">
									<input type="password" th:field="*{password}" required="required"
										class="form-control" />
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<div class="col-lg-10">
										<button type="submit" class="btn btn-primary">
											<i class="glyphicon glyphicon-save"></i> &nbsp;Simpan
										</button>
										<a th:href="@{/orangtua/bidan}" class="btn btn-danger"><i
											class="glyphicon glyphicon-chevron-left"></i> &nbsp;Kembali </a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
	</div>

</div>