<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Login</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/bootstrap-reset.css" rel="stylesheet" />
<!--external css-->
<link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<link href="/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="login-body">
	<div class="container">
	
      <form class="form-signin" name="f" th:action="@{/login}" method="post">
      					
        <h2 class="form-signin-heading">PosyanduAntro</h2>
        
        
        <div class="login-wrap">
        <div th:if="${param.error}" class="alert alert-danger alert-dismissible" role="alert">
                            Username atau Password Salah
         </div>
         <div th:if="${param.logout}" class="alert alert-danger alert-dismissible" role="alert">
                            You Have Been Logged Out.
         </div>
         
            <input type="text" class="form-control" placeholder="Username" id="username" name="username"/>
            <input type="password" class="form-control"	placeholder="Password" id="password" name="password"/>
            
            
            
            <button class="btn btn-lg btn-login btn-block" type="submit">Log in</button>
        </div>
      </form>
    </div>

	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>


</html>